---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FeaturedSpeaking from '../../sections/FeaturedSpeaking.astro';
import Heading from '../../components/Heading.astro';
---

<BaseLayout
  pageTitle="speaking"
  pageDescription="a collection of my talks and presentations"
>
  <FeaturedSpeaking />
  <section>
    <Heading level="h2" size="2xl">everything else</Heading>
    <p>Coming soon...</p>
  </section>
</BaseLayout>
