---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FeaturedSpeaking from '../../sections/FeaturedSpeaking.astro';
import Heading from '../../components/Heading.astro';
import { getCollection } from 'astro:content';
import AllItemsList from '~/components/AllItemsList.astro';

const speaking = await getCollection('speaking');

const speakingPosts = speaking.sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<BaseLayout
  pageTitle="speaking"
  pageDescription="a collection of my talks and presentations"
>
  <FeaturedSpeaking />
  <section>
    <Heading level="h2" size="2xl">everything else</Heading>
    <AllItemsList collection={speakingPosts} />
  </section>
</BaseLayout>
