---
import BlogPostLayout from '../../layouts/BlogPostLayout.astro';
---

<BlogPostLayout
  title="this dot media js drop: why not astro"
  description="A blog post about my experience with this dot media's js drop and why I'm not using Astro."
>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  </article>
</BlogPostLayout>
