@import 'tailwindcss' source('../../src');
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces.ttf') format('truetype-variations');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype-variations');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono.ttf') format('truetype-variations');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype-variations');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-serif: 'Fraunces', serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-handwritten: 'Permanent Marker', var(--font-serif), script;

  --color-background: var(--color-zinc-100);
  --color-foreground: var(--color-zinc-900);

  --color-muted: var(--color-zinc-300);
  --color-foreground-muted: var(--color-zinc-500);

  --color-card: var(--color-zinc-50);
  --color-card-foreground: var(--color-foreground-muted);

  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground-muted);

  --color-primary: var(--color-zinc-800);
  --color-primary-foreground: var(--color-zinc-50);

  --color-secondary: var(--color-zinc-200);
  --color-secondary-foreground: var(--color-foreground);

  --color-accent: oklch(62.52% 0.2152 32.91);
  --color-accent-foreground: var(--color-zinc-950);

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-foreground);

  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-foreground);

  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-foreground);

  --color-border: var(--color-muted);
  --color-outline: var(--color-border);
  --color-input: var(--color-border);
  --color-ring: var(--color-accent);

  --color-radius: 0.5rem;
  --color-rounded-lg: var(--color-radius);
  --color-rounded-md: calc(var(--color-radius) / 1.5);
  --color-rounded-sm: calc(var(--color-radius) / 2);
}

@layer base {
  * {
    @apply min-w-0;
  }

  body {
    @apply text-foreground-muted bg-background font-sans text-pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground font-serif font-semibold tracking-tight text-balance;
  }

  section {
    @apply space-y-8 py-24;
  }
}
