@import 'tailwindcss' source('../../src');

@custom-variant dark (&:is(.dark *));
@plugin '@tailwindcss/typography';

@plugin 'tailwindcss-animate';

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces.ttf') format('truetype-variations');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype-variations');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono.ttf') format('truetype-variations');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype-variations');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-serif: 'Fraunces', serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-handwritten: 'Permanent Marker', var(--font-serif), script;

  --color-background: var(--color-zinc-100);
  --color-foreground: var(--color-zinc-900);

  --color-muted: var(--color-zinc-300);
  --color-foreground-muted: var(--color-zinc-500);

  --color-card: var(--color-zinc-50);
  --color-card-foreground: var(--color-foreground-muted);

  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground-muted);

  --color-primary: var(--color-zinc-800);
  --color-primary-foreground: var(--color-zinc-50);

  --color-secondary: var(--color-zinc-200);
  --color-secondary-foreground: var(--color-foreground);

  --color-accent: oklch(62.52% 0.2152 32.91);
  --color-accent-foreground: var(--color-zinc-950);

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-foreground);

  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-foreground);

  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-foreground);

  --color-border: var(--color-muted);
  --color-outline: var(--color-border);
  --color-input: var(--color-border);
  --color-ring: var(--color-accent);

  --color-radius: 0.5rem;
  --color-rounded-lg: var(--color-radius);
  --color-rounded-md: calc(var(--color-radius) / 1.5);
  --color-rounded-sm: calc(var(--color-radius) / 2);
  --spring: cubic-bezier(0.25, 0.1, 0, 8);
}

@layer base {
  * {
    @apply border-border min-w-0;
  }

  body {
    @apply text-foreground-muted bg-background font-sans text-pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground mb-[.25em] font-serif font-semibold tracking-tight text-balance;
  }

  section > h1:first-of-type,
  section > h2:first-of-type,
  section > h3:first-of-type,
  section > h4:first-of-type,
  section > h5:first-of-type,
  section > h6:first-of-type {
    @apply mb-[1em];
  }
}

@keyframes blur {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}
