---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="contact" pageDescription="tweet, email, or book a call">
  <main>
    <h1>Contact</h1>
  </main>
</BaseLayout>
