---
import BaseLayout from '../layouts/BaseLayout.astro';
// import FeaturedWork from '../sections/FeaturedWork.astro';
---

<BaseLayout pageTitle="work"
            pageDescription="a collection of my work, projects, and experiments">
    <main>
        <!--<FeaturedWork />-->
    </main>
</BaseLayout>
