---
import AnimatedWord from '~/components/react/AnimatedWord.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedProjects from '../sections/FeaturedProjects.astro';
import FeaturedSpeaking from '../sections/FeaturedSpeaking.astro';
import FeaturedWriting from '../sections/FeaturedWriting.astro';
import Heading from '~/components/Heading.astro';
import Link from '~/components/Link.astro';
import WhatIDo from '../sections/WhatIDo.astro';
---

<BaseLayout
  pageTitle="Let's create something special together"
  pageDescription='Come learn how I can help you build a better web'
  hasCTA={true}
>
  <header>
    <hgroup
      class='mx-auto w-fit pt-16 text-center [transform-style:preserve-3d] perspective-[1000px] md:pt-24 lg:pt-28 xl:pt-32'
    >
      <Heading
        level='h1'
        size='4xl'
        align='center'
        class='lg:text-5xl'
      >
        Let's create something <AnimatedWord client:load /> together
      </Heading>
      <p class='mt-2 font-sans text-lg text-balance md:mt-4 lg:text-2xl'>
        Come learn how I can help you build a better web
      </p>
    </hgroup>
    <div class='flex justify-center gap-4 pt-8'>
      <Link
        href='/contact'
        variant='primary'
        size='lg'
      >
        contact me
      </Link>
      <Link
        href='/projects'
        variant='outline'
        size='lg'
      >
        view projects
      </Link>
    </div>
  </header>
  <WhatIDo />
  <FeaturedProjects
    title='Featured Projects'
    description='Featured Projects'
  />
  <FeaturedWriting
    title='Featured Writing'
    description='Featured Writing'
  />
  <FeaturedSpeaking
    title='Featured Speaking'
    description='Featured Speaking'
  />
</BaseLayout>
