---
import AnimatedWord from '~/components/react/AnimatedWord.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedProjects from '../sections/FeaturedProjects.astro';
import FeaturedSpeaking from '../sections/FeaturedSpeaking.astro';
import FeaturedWriting from '../sections/FeaturedWriting.astro';
import Heading from '~/components/Heading.astro';
import Link from '~/components/Link.astro';
import WhatIDo from '../sections/WhatIDo.astro';
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ?
        'dark'
      : 'light';
  };
  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class'],
    });
  }
</script>

<BaseLayout
  pageTitle="Let's create something special together"
  pageDescription='Come learn how I can help you build a better web'
  hasCTA={true}
>
  <header>
    <hgroup
      class='pt-16 [transform-style:preserve-3d] perspective-[1000px] lg:w-4/5'
    >
      <Heading
        level='h1'
        size='sm'
        class='text-foreground pb-1 font-sans font-light tracking-wide uppercase md:text-base'
      >
        Ryan Furrer — Frontend Engineer
      </Heading>
      <Heading
        level='h2'
        size='4xl'
        class='mb-0 pb-0 md:text-7xl lg:text-8xl xl:text-9xl'
      >
        Let's create something <AnimatedWord client:load /> together
      </Heading>
    </hgroup>
    <div class='grid grid-cols-2 justify-start gap-4 pt-6 md:flex md:pt-8'>
      <Link
        class='text-sm sm:text-base'
        href='/contact'
        variant='primary'
        size='lg'
      >
        say hello
      </Link>
      <Link
        class='text-sm sm:text-base'
        href='/projects'
        variant='outline'
        size='lg'
      >
        see my work
      </Link>
    </div>
  </header>
  <WhatIDo />
  <FeaturedProjects
    title='Featured Projects'
    description='Featured Projects'
  />
  <FeaturedWriting
    title='Featured Writing'
    description='Featured Writing'
  />
  <FeaturedSpeaking
    title='Featured Speaking'
    description='Featured Speaking'
  />
</BaseLayout>
