---
import BaseLayout from '../layouts/BaseLayout.astro';
import WhatIDo from '../sections/WhatIDo.astro';
import FeaturedWork from '../sections/FeaturedWork.astro';
import FeaturedWriting from '../sections/FeaturedWriting.astro';
---

<BaseLayout pageTitle="Ryan Furrer" pageDescription="frontend engineer. designer. blogger. podcaster. streamer." hasCTA={true}>
	<main>
		<WhatIDo />
		<FeaturedWork onHomePage={true} />
		<FeaturedWriting onHomePage={true} />
	</main>
</BaseLayout>
