---
import AnimatedWord from '~/components/react/AnimatedWord.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedProjects from '../sections/FeaturedProjects.astro';
import FeaturedSpeaking from '../sections/FeaturedSpeaking.astro';
import FeaturedWriting from '../sections/FeaturedWriting.astro';
import Heading from '~/components/Heading.astro';
import Link from '~/components/Link.astro';
import WhatIDo from '../sections/WhatIDo.astro';
---

<BaseLayout
  pageTitle="Let's create something special together"
  pageDescription='Come learn how I can help you build a better web'
  hasCTA={true}
>
  <header>
    <hgroup
      class='w-fit pt-16 [transform-style:preserve-3d] perspective-[1000px] md:w-4/5 xl:w-4/5'
    >
      <Heading
        level='h1'
        size='4xl'
        align='center'
        class='leading-tighter text-left text-pretty md:text-7xl md:text-balance lg:text-8xl xl:text-9xl'
      >
        Let's create something <AnimatedWord client:load /> together
      </Heading>
      <p
        class='font-sans font-light md:text-2xl md:tracking-wide md:text-balance lg:text-3xl xl:text-4xl'
      >
        This is my home on the internet where I get to share my thoughts,
        projects, and ideas with you.
      </p>
    </hgroup>
    <div class='flex justify-start gap-4 pt-8'>
      <Link
        href='/contact'
        variant='primary'
        size='lg'
      >
        contact me
      </Link>
      <Link
        href='/projects'
        variant='outline'
        size='lg'
      >
        view projects
      </Link>
    </div>
  </header>
  <WhatIDo />
  <FeaturedProjects
    title='Featured Projects'
    description='Featured Projects'
  />
  <FeaturedWriting
    title='Featured Writing'
    description='Featured Writing'
  />
  <FeaturedSpeaking
    title='Featured Speaking'
    description='Featured Speaking'
  />
</BaseLayout>
