---
import BaseLayout from '../layouts/BaseLayout.astro';
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
---

<BaseLayout pageTitle="work" pageDescription="a collection of my work, projects, and experiments">
	<main>
		<Heading level="h2" size="3xl">
			what I do
		</Heading>
	</main>
</BaseLayout>
