---
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedWriting from '../sections/FeaturedWriting.astro';
---

<BaseLayout pageTitle="writing" pageDescription="a collection of my blog posts and newsletters">
	<main>
		<FeaturedWriting />
	</main>
</BaseLayout>
