---
import Heading from './Heading.astro';

interface Item {
  collection: string;
  type: string;
  id: string;
  data: {
    pubDate?: string;
    title: string;
    description: string;
  };
}

const currentPath = Astro.url.pathname;
let itemPath = '';

switch (true) {
  case currentPath.includes('/projects'):
    itemPath = 'projects';
    break;
  case currentPath.includes('/writing'):
    itemPath = 'writing';
    break;
  case currentPath.includes('/speaking'):
    itemPath = 'speaking';
    break;
  case currentPath.includes('/about'):
    itemPath = 'about';
    break;
}

const collection: Item[] = Astro.props.collection || [];
---

<ul class="space-y-1">
  {
    collection.map((item) => (
      <li class="max-w-screen-sm group -translate-x-4">
        <a
          class="flex flex-wrap gap-x-2 p-4 items-center"
          href={`/${itemPath}/${item.id}/`}
        >
          <p class="text-sm">
            {item.data.pubDate
              ? new Date(item.data.pubDate).getFullYear()
              : new Date().getFullYear()}
          </p>
          <Heading
            level="h3"
            class="text-foreground font-sans font-normal group-hover:text-accent transition-all"
          >
            {item.data.title}
          </Heading>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right md:opacity-0 md:group-hover/link:opacity-100 md:group-hover:opacity-100 transition-all md:-translate-x-2 md:group-hover:translate-x-2 md:group-hover/link:translate-x-0 mt-0.5 !size-5"
          >
            <path d="M5 12h14" />
            <path d="m12 5 7 7-7 7" />
            <span class="w-full translate-x-11 text-sm">
              {currentPath.includes('/writing')
                ? item.collection
                : item.data.description}
            </span>
          </svg>
        </a>
      </li>
    ))
  }
</ul>
