---
import { cn } from '../utils/utils';
import Link from './Link.astro';

export interface CardProps {
  class?: string;
  href?: string;
  externalLink?: boolean;
  variant?: 'default' | 'transparent';
}

const {
  class: className,
  href,
  variant = 'default',
  externalLink = false,
} = Astro.props;

const defaultClasses =
  'rounded-lg border border-border p-4 bg-card break-words space-y-4 transition-all duration-300 group hover:-translate-y-1 hover:shadow-lg';
const transparentClasses =
  'rounded-lg border border-none break-words group space-y-4';
const cardClasses =
  variant === 'transparent' ? transparentClasses : defaultClasses;
---

{
  href ?
    <div>
      <Link
        href={href}
        externalLink={externalLink}
        target={externalLink ? '_blank' : undefined}
        rel={externalLink ? 'noopener noreferrer' : undefined}
        class='group/link block'
      >
        <div class={cn(cardClasses, className)}>
          <slot />
        </div>
      </Link>
    </div>
  : <div class={cn(cardClasses, className)}>
      <slot />
    </div>
}

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
