---
import { cn } from '../utils/utils';
import Link from './Link.astro';

export interface CardProps {
  class?: string;
  href?: string;
  variant?: 'default' | 'transparent';
}

const { class: className, href, variant = 'default' } = Astro.props;

const defaultClasses =
  'rounded-lg border border-border p-4 bg-card break-words space-y-4 transition-all group';
const transparentClasses =
  'rounded-lg border border-none break-words group space-y-4';
const cardClasses =
  variant === 'transparent' ? transparentClasses : defaultClasses;
---

{
  href ?
    <div>
      <Link
        href={href}
        class='group/link block'
      >
        <div class={cn(cardClasses, className)}>
          <slot />
        </div>
      </Link>
    </div>
  : <div class={cn(cardClasses, className)}>
      <slot />
    </div>
}

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
