---
import { cn } from '../utils/utils';
import Link from './Link.astro';

export interface CardProps {
  class?: string;
  href?: string;
  externalLink?: boolean;
  variant?: 'default' | 'transparent';
}

const {
  class: className,
  href,
  variant = 'default',
  externalLink = false,
} = Astro.props;

const baseClasses =
  'rounded-lg border bg-card break-words transition-transform duration-300 group hover:-translate-y-1 hover:shadow-lg overflow-hidden';
const transparentClasses =
  'transition-transform rounded-lg border-none break-words group';

const cardClasses =
  variant === 'transparent' ? transparentClasses : baseClasses;
---

{
  href ? (
    <div>
      <Link
        href={href}
        externalLink={externalLink}
        target={externalLink ? '_blank' : undefined}
        rel={externalLink ? 'noopener noreferrer' : undefined}
        class="group/link block"
      >
        <div class={cn(cardClasses, className)}>
          <slot />
        </div>
      </Link>
    </div>
  ) : (
    <div class={cn(cardClasses, className)}>
      <slot />
    </div>
  )
}

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
