---
import { NavLinks } from '~/utils/utils';
import Link from './Link.astro';
import NewsletterKitForm from './NewsletterKitForm.astro';

const today = new Date();
const currentPath = Astro.url.pathname;
---

<footer class="mx-auto mt-12 border-t-1 border-border py-8">
  <div class="grid md:grid-cols-3 gap-y-12">
    <div id="sitemap" class="text-left">
      <p class="uppercase font-semibold mb-2">sitemap</p>
      <nav>
        <ul class="gap-2 flex flex-col">
          {
            NavLinks.map((link) => (
              <li>
                <Link
                  href={link.href}
                  class={
                    currentPath === link.href
                      ? 'underline decoration-accent'
                      : 'hover:no-underline'
                  }
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div>
      <p class="uppercase font-semibold mb-2">socials</p>
      <ul class="gap-2 flex flex-col">
        <li><Link externalLink withIcon href="#">Follow me on X</Link></li>
        <li>
          <Link externalLink withIcon href="#">Follow me on LinkedIn</Link>
        </li>
        <li><Link externalLink withIcon href="#">Find me everywhere</Link></li>
      </ul>
    </div>
    <div>
      <p class="uppercase font-semibold mb-2">newsletter</p>
      <NewsletterKitForm />
    </div>
  </div>
  <p class="text-left mt-4">
    &copy; {today.getFullYear()} Ryan Furrer. All rights reserved.
  </p>
</footer>
