---
import { NavLinks } from '~/utils/utils';
import Link from './Link.astro';
import NewsletterBeehiivForm from './NewsletterBeehiivForm.astro';

const today = new Date();
const currentPath = Astro.url.pathname;
---

<footer class='border-border mx-auto mt-12 border-t-1 py-8'>
  <div class='grid gap-y-12 md:grid-cols-3'>
    <div
      id='sitemap'
      class='text-left'
    >
      <p class='mb-2 font-semibold uppercase'>sitemap</p>
      <nav>
        <ul class='flex flex-col gap-2'>
          {
            NavLinks.map((link) => (
              <li>
                <Link
                  href={link.href}
                  class={
                    currentPath === link.href ?
                      'decoration-accent underline'
                    : 'hover:no-underline'
                  }
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div>
      <p class='mb-2 font-semibold uppercase'>socials</p>
      <ul class='flex flex-col gap-2'>
        <li>
          <Link
            externalLink
            withIcon
            href='#'
            >Follow me on X</Link>
        </li>
        <li>
          <Link
            externalLink
            withIcon
            href='#'
            >Follow me on LinkedIn</Link
          >
        </li>
        <li>
          <Link
            externalLink
            withIcon
            href='#'
            >Find me everywhere</Link>
        </li>
      </ul>
    </div>
    <div>
      <p class='mb-2 font-semibold uppercase'>newsletter</p>
      <NewsletterBeehiivForm />
    </div>
  </div>
  <p class='mt-4 text-left'>
    &copy; {today.getFullYear()} Ryan Furrer. All rights reserved.
  </p>
</footer>
