---
import Heading from './Heading.astro';
import Link from './Link.astro';

interface Props {
  pageTitle: string;
  pageDescription?: string;
  hasCTA?: boolean;
}

const { pageTitle, pageDescription, hasCTA = false } = Astro.props;
const currentPath = Astro.url.pathname;
---

<div class={currentPath === '/' ? 'pt-32 md:pt-44 lg:pt-56 xl:pt-64' : 'pt-16 md:pt-24 lg:pt-28 xl:pt-32'}>
  <Heading level="h2" size="3xl" class=''>
    {pageTitle}
  </Heading>
  <p class="font-sans text-xl text-balance">
    {pageDescription}
  </p>
  {
    hasCTA && (
      <div class="mt-6 flex gap-4 flex-col md:flex-row">
        <Link href="/src/pages/contact" variant="primary" size="button">
          Contact Me
        </Link>

        <Link href="/work" variant="outline" size="button">
          View work
        </Link>
      </div>
    )
  }
</div>