---
import { cn } from '../utils/utils';
import { cva, type VariantProps } from 'class-variance-authority';
import type { HTMLAttributes } from 'astro/types';

const linkVariants = cva(
  'cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-base ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0',
  {
    variants: {
      variant: {
        default:
          'text-primary-muted underline-offset-4 hover:underline hover:text-primary',
        primary: 'bg-primary text-primary-foreground hover:bg-primary/90',
        secondary:
          'bg-secondary text-secondary-foreground hover:bg-secondary/80 outline-outline outline',
        outline:
          'outline-outline outline bg-background hover:bg-secondary/90 hover:text-secondary-foreground',
        ghost: 'hover:bg-accent hover:text-accent-foreground',
        destructive:
          'bg-destructive text-destructive-foreground hover:bg-destructive/90',
        warning: 'bg-warning text-warning-foreground hover:bg-warning/90',
        success: 'bg-success text-success-foreground hover:bg-success/90',
      },
      size: {
        default: '',
        button: 'h-10 px-4 py-2',
        sm: 'h-9 rounded-md px-3',
        lg: 'h-11 rounded-md px-8',
        icon: 'h-10 w-10',
      },
    },
    defaultVariants: {
      variant: 'default',
      size: 'default',
    },
  },
);

export interface Props
  extends HTMLAttributes<'a'>,
    VariantProps<typeof linkVariants> {
  class?: string;
  href: string;
  externalLink?: boolean;
}

const {
  class: className,
  variant = 'default',
  size = 'default',
  href,
  externalLink = false,
  ...props
} = Astro.props;

const externalProps = externalLink
  ? {
      target: '_blank',
      rel: 'noopener noreferrer',
    }
  : {};
---

<a
  href={href}
  class={cn(linkVariants({ variant, size, className }))}
  {...externalProps}
  {...props}
>
  <slot />
</a>