---
import { NavLinks } from '../utils/utils';
import Link from './Link.astro';
import MobileMenu from './react/MobileMenu.tsx';
---

<nav
  class='bg-card border-border flex w-full items-center justify-between rounded-lg border p-4'
>
  <Link
    href='/'
    class='font-handwritten text-foreground hover:text-accent flex items-center gap-2 text-2xl hover:no-underline'
  >
    <img
      src='/logo.svg'
      alt='Logo'
      class='size-10'
    />
  </Link>

  <ul class='hidden gap-4 md:flex'>
    {
      NavLinks.map((link) => (
        <li>
          {link.label !== 'contact' && (
            <Link
              href={link.href}
              class:list={['nav-link', { 'hover:no-underline': true }]}
              data-href={link.href}
            >
              {link.label}
            </Link>
          )}
        </li>
      ))
    }
  </ul>

  <Link
    href='/contact'
    variant='primary'
    size='sm'
    class='hidden lowercase md:flex'
  >
    Contact
  </Link>

  <MobileMenu client:load />
</nav>

<script>
  function updateActiveLinks() {
    const links = document.querySelectorAll('.nav-link');
    links.forEach((link) => {
      if (link instanceof HTMLElement) {
        // Remove existing active classes first
        link.classList.remove('underline', 'decoration-accent');

        if (link.dataset.href === window.location.pathname) {
          link.classList.add('underline', 'decoration-accent');
        }
      }
    });
  }

  // Run on page load
  updateActiveLinks();

  // Run on navigation changes
  document.addEventListener('astro:page-load', updateActiveLinks);
</script>
