---
import Link from './Link.astro';
import MobileMenu from './react/MobileMenu.tsx';
import { NavLinks } from '../utils/utils';

const currentPath = Astro.url.pathname;
---

<nav
  class="flex items-center justify-between p-4 bg-card border border-border rounded-lg w-full"
>
  <Link
    href="/"
    class="font-handwritten text-2xl text-foreground hover:text-accent hover:no-underline flex items-center gap-2"
  >
    <img src="/logo.svg" alt="Logo" class="size-10" />
  </Link>

  <ul class="gap-4 hidden md:flex">
    {
      NavLinks.map((link) => (
        <li>
          {link.label !== 'contact' && (
            <Link
              href={link.href}
              class={
                currentPath === link.href
                  ? 'underline decoration-accent'
                  : 'hover:no-underline'
              }
            >
              {link.label}
            </Link>
          )}
        </li>
      ))
    }
  </ul>

  <Link
    href="/contact"
    variant="primary"
    size="sm"
    class="lowercase hidden md:flex"
  >
    Contact
  </Link>

  <MobileMenu client:load />
</nav>
