---

---

<div class="max-w-full">
  <iframe

    title="newsletter-signup-form"
    src="https://embeds.beehiiv.com/a87f2cd5-3a4d-4003-bf07-1ab7cd28ab25?slim=true"
    data-test-id="beehiiv-embed"
    height="52"
    width="100%"
    frameborder="0"
    scrolling="no"
    style="m-0 rounded-none border-none bg-transparent max-w-full"></iframe>
  <p class="text-foreground pt-2 text-xs">

    Powered by <a
      class="underline"
      href="https://www.beehiiv.com/"
      target="_blank"
      rel="noopener noreferrer">Beehiiv</a
    >
  </p>
</div>
