---
import Link from './Link.astro';

interface Props {
  links: {
    site?: string;
    github?: string;
  };
}

const { links } = Astro.props;
---

<div class='mb-12 flex flex-col gap-4 md:flex-row'>
  {
    links?.site && (
      <Link
        href={links.site}
        externalLink
        variant='primary'
        size='button'
        class='font-light no-underline'
      >
        View Project
      </Link>
    )
  }
  {
    links?.github && (
      <Link
        href={links.github}
        externalLink
        variant='outline'
        size='button'
        class='text-foreground-muted font-light no-underline'
      >
        View GitHub
      </Link>
    )
  }
</div>
