---
import Link from './Link.astro';

interface Props {
  links: {
    site?: string;
    github?: string;
  };
}

const { links } = Astro.props;
---

<div class="flex flex-col gap-4 md:flex-row mb-12">
  {links?.site && (
    <Link href={links.site} externalLink={true} variant="primary" size="button" class="no-underline font-light">
      View Project
    </Link>
  )}
  {links?.github && (
    <Link href={links.github} externalLink={true} variant="outline" size="button" class="no-underline text-foreground-muted font-light">
      View GitHub
    </Link>
  )}
</div>