---
import Link from './Link.astro';

const { href, classes } = Astro.props;
---

{
  href ? (
    <li class={classes}>
      <Link href={href}>
        <slot />
      </Link>
    </li>
  ) : (
    <li class="text-sm text-foreground-muted">
      #<slot />
    </li>
  )
}
