<div
  class="dark:bg-background flex w-fit items-center rounded-sm border border-emerald-500 bg-white"
>
  <span
    class="mb-0 rounded-sm border border-transparent bg-emerald-200/20 p-2 font-sans text-xs leading-none font-semibold tracking-normal text-emerald-700 md:text-sm dark:bg-emerald-800/50 dark:text-emerald-500"
    >looking for work</span
  >
</div>
