---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FeaturedWork from '../../sections/FeaturedWork.astro';
import Heading from '../../components/Heading.astro';
---

<BaseLayout
  pageTitle="work"
  pageDescription="a collection of my work, projects, and experiments"
>
  <FeaturedWork />
  <section>
    <Heading level="h2" size="2xl">everything else</Heading>
    <p>Coming soon...</p>
  </section>
</BaseLayout>
