---
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";

const currentPath = Astro.url.pathname;
---

<section id="featured-projects">
  <Heading level="h2" size="3xl">
    featured work
  </Heading>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <Card class="group">
      <Heading level="h3" size="2xl" class='mb-0 group-hover:text-accent transition-color'>
        min. tasks
      </Heading>
      <p>
        A simple task manager built with Next.js, shadcn/ui, and Xata.
      </p>
      <div class="w-full aspect-wide bg-secondary size-64 rounded-md mb-6" />
      <div class="flex flex-col gap-4 md:flex-row">
        <Link href="/projects/min-tasks" variant="primary" size='button'>
          View Project
        </Link>
        <Link href="https://github.com/ryanfurrer/min-tasks" externalLink={true} variant="outline" size='button'>
          View GitHub
        </Link>
      </div>
    </Card>
    <Card class="group">
      <Heading level="h3" size="2xl" class='mb-0 group-hover:text-accent transition-color'>
        min. tasks
      </Heading>
      <p>
        A simple task manager built with Next.js, shadcn/ui, and Xata.
      </p>
      <div class="w-full aspect-wide bg-secondary size-64 rounded-md mb-6" />
      <div class="flex flex-col gap-4 md:flex-row">
        <Link href="/projects/min-tasks" variant="primary" size='button'>
          View Project
        </Link>
        <Link href="https://github.com/ryanfurrer/min-tasks" externalLink={true} variant="outline" size='button'>
          View GitHub
        </Link>
      </div>
    </Card>
  </div>
  {
    currentPath === '/' && (
      <Link href="/projects" withIcon={true} class="text-primary-muted group-hover:text-foreground text-lg">
        view all work
      </Link>
    )
  }
</section>