---
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HGroup from '../components/HGroup.astro';
import Navbar from '../components/Navbar.astro';
import Newsletter from '../components/Newsletter.astro';
import Heading from '~/components/Heading.astro';
import Link from '~/components/Link.astro';

interface Props {
  pageTitle: string;
  pageDescription?: string;
  hasCTA?: boolean;
}

const { pageTitle, pageDescription, hasCTA = false } = Astro.props;

const currentPage = Astro.url.pathname;
---

<!doctype html>
<html lang='en'>
  <BaseHead
    title={SITE_TITLE}
    description={SITE_DESCRIPTION}
  />
  <body>
    <div class='container mx-auto max-w-screen-xl p-4'>
      <header>
        <Navbar />
        {
          currentPage != '/' ?
            <HGroup
              pageTitle={pageTitle}
              pageDescription={pageDescription}
            />
          : null
        }
      </header>
      <main class='space-y-24 py-12 lg:space-y-32'>
        <slot />
      </main>
      <Newsletter />
      <Footer />
    </div>
  </body>
</html>
