---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="max-w-screen-lg mx-auto px-4 py-8">
      <slot />
    </div>
  </body>
</html>