---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Heading from '../../components/Heading.astro';
import FeaturedWriting from '../../sections/FeaturedWriting.astro';
import AllItemsList from '~/components/AllItemsList.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);
---

<BaseLayout
  pageTitle="writing"
  pageDescription="a collection of my writing and articles"
>
  <FeaturedWriting
    title="Featured Writing"
    description="Check out some of my featured articles"
  />
  <section>
    <Heading level="h2" size="2xl">all writing</Heading>
    <AllItemsList collection={posts} />
  </section>
</BaseLayout>
