---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Heading from '../../components/Heading.astro';
import FeaturedWriting from '../../sections/FeaturedWriting.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);
---

<BaseLayout
  pageTitle="writing"
  pageDescription="a collection of my writing and articles"
>
  <FeaturedWriting />
  <section>
    <Heading level="h2" size="2xl">all writing</Heading>
    <ul class="space-y-8">
      {
        posts.map((post) => (
          <li class="max-w-screen-sm group">
            <a
              class="flex gap-4 p-4 items-center -translate-x-4 group-hover:-translate-x-0 group-hover:bg-card group-hover:border border-border transition-all rounded-lg duration-300"
              href={`/writing/${post.id}/`}
            >
              <p class="text-sm">
                {post.data.pubDate
                  ? new Date(post.data.pubDate).getFullYear()
                  : new Date().getFullYear()}
              </p>
              <Heading level="h3" class="font-sans font-normal">
                {post.data.title}
              </Heading>
              {post.data.tags && post.data.tags.length > 0 && (
                <span class=" group-hover:opacity-100 transition-all ml-auto text-xs bg-muted rounded-sm p-1  group-hover:translate-y-0 duration-300 md:opacity-0 md:translate-y-4">
                  {post.data.tags[0]}
                </span>
              )}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
